@font-face {
  font-family: 'iconfont';  /* project id 1731213 */
  src: url('//at.alicdn.com/t/font_1731213_hwmor2tk34l.eot');
  src: url('//at.alicdn.com/t/font_1731213_hwmor2tk34l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1731213_hwmor2tk34l.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1731213_hwmor2tk34l.woff') format('woff'),
  url('//at.alicdn.com/t/font_1731213_hwmor2tk34l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1731213_hwmor2tk34l.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengjian:before {
  content: "\e608";
}

.icon-hunyu:before {
  content: "\e68a";
}

.icon-jiaotong:before {
  content: "\e624";
}

.icon-jiuye:before {
  content: "\e607";
}

.icon-zhufang:before {
  content: "\e689";
}

.icon-shebao:before {
  content: "\e6dd";
}

.icon-jiaoyu11:before {
  content: "\e606";
}

.icon-weizhi:before {
  content: "\e610";
}

.icon-jiaofei:before {
  content: "\e6c7";
}

.icon-caishichang:before {
  content: "\e64d";
}

.icon-jiaoyu1:before {
  content: "\e643";
}

.icon-falv:before {
  content: "\e633";
}

.icon-chuangye:before {
  content: "\eb2b";
}

.icon-gongjijin:before {
  content: "\e611";
}

.icon-baoxian1:before {
  content: "\e676";
}

.icon-yiliaoweisheng:before {
  content: "\e6c2";
}

.icon-sy_2:before {
  content: "\e605";
}

.icon-tingchechang:before {
  content: "\e6b2";
}

.icon-dangan:before {
  content: "\e60e";
}

.icon-xuexiao:before {
  content: "\e6ef";
}

.icon-huoche:before {
  content: "\e623";
}

.icon-gongjiao:before {
  content: "\e959";
}

.icon-baoxian:before {
  content: "\e604";
}

.icon-weizhangchaxun:before {
  content: "\e752";
}

.icon-qiyekaiban:before {
  content: "\e6d8";
}

.icon-budongchanzulin:before {
  content: "\e638";
}

.icon-qiye:before {
  content: "\e628";
}

.icon-baozhang:before {
  content: "\e64f";
}

.icon-tongzhi:before {
  content: "\e75e";
}

.icon-xiaoxi2:before {
  content: "\e603";
}

.icon-jifen:before {
  content: "\e602";
}

.icon-shoucang:before {
  content: "\e6b0";
}

.icon-minshisuqiu:before {
  content: "\e615";
}

.icon-xinfengxinjian:before {
  content: "\e6a0";
}

.icon-zixun2:before {
  content: "\e60f";
}

.icon-kefufuwudianhua:before {
  content: "\e62d";
}

.icon-wode:before {
  content: "\e61d";
}

.icon-hudong:before {
  content: "\e601";
}

.icon-zixun1:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e613";
}

.icon-jiaoliu1:before {
  content: "\e600";
}

.icon-lingdao:before {
  content: "\e865";
}

.icon-jiaoliu:before {
  content: "\e727";
}

.icon-banshi:before {
  content: "\e6aa";
}

.icon-zhengceyiju:before {
  content: "\e7d6";
}

.icon-zixun:before {
  content: "\e63d";
}
